@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 1;
}

body {
	background-color: #6FC;
	width: 100%;
	text-align: center;
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
}

.container {
	background-color: #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	width: 90%;
	margin: 5%;
}

#record_table {
    border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	border: 0;
}

/* #record_table tr { */
table tr {
	border-bottom: 3px solid #6FC;
}

table th {
    text-align: left;    
	padding: 5px;
}

table td {
	padding: 5px;
}

