@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 1;
}

body {
	background-color: #3FBFA5;
	width: 100%;
	text-align: center;
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
}

h1 {
	padding-top: 20px;
	padding-bottom: 10px;
}

h2 {
	padding-top: 10px;
	padding-top: 5px;
}

.spacer {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
	font-size: 0pt;
}

.rect_container {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	background-color: #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	width: 100%;
	font-size: 12pt;
}

#record_table {
    border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	border: 0;
}

#record_form {
	width: 100%;
}

.textinput {
	background-color: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	border: 0;
}
.textinput:hover {
    background-color: #e0e0e0;
}

#academic_record_input {
	margin-right: 2%;
	width: 73%;
}


.button {
    background-color: #f0f0f0;
    text-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color: #e0e0e0;
}


#academic_record_button {
	width: 25%;
}

#bid_button {
	margin-top: 10px;
	width: 50%;
}



/* #record_table tr { */
table tr {
	border-bottom: 3px solid #3FBFA5;
}

form input, button {
	font-size: 1.5em;
}

table th {
    text-align: left;
    color: #888;
	padding: 5px;
}

table thead th {
	font-size: 1.5em;
    text-align: left;    
	padding: 5px;
}

table tbody td {
	text-align: left;
	padding: 5px;
}

#content {
	text-align: right;    
}

#status_table {
	width: 100%;
}

#user_table {
	/* width: 100%; */
	font-size: 2em;
	padding-bottom: 20px;
}

#signup_table {
	width: 100%;
}

#transcript {
	font-size: 16px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	width: 49.5%;
	margin-right: 0.5%;
}

#signup {
	font-size: 16px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	width: 49.5%;
	margin-left: 0.5%;
}

#switch_view_button {
}

#switch_view_rect {
	background-color: #444;
}

button a {
	width: 100%;
	height: 100%;
	text-decoration: none;
}
